# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
.next/
out/

# Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS Data
.DS_Store
Thumbs.db

# Expo / React Native
.expo/
npm-debug.*
yarn-debug.*
yarn-error.*
